VITE_BACKEND_URL=
VITE_EVENT_ID=

VITE_TICKET_ID=
VITE_TICKET_NAME=
VITE_TICKET_ADULTS_QUANTITY=
VITE_TICKET_ADULTS_COUNTER=
VITE_TICKET_KIDS_QUANTITY=
VITE_TICKET_KIDS_COUNTER=
VITE_TICKET_QR_CODE=
VITE_TICKET_PHONE=
VITE_TICKET_KEY_PASS=
VITE_TICKET_IS_ACTIVE=
VITE_TICKET_EVENT=
VITE_TICKET_USER=
VITE_TICKET_TABLE=
