$font-p1-cursive: 'Alex Brush', cursive;
$font-p1-serif: 'Cormorant Garamond', serif;
$font-p1-sans: 'Montserrat', sans-serif;

$font-p2-cursive: 'Pinyon Script', cursive;
$font-p2-serif: 'Bodoni Moda', serif;
$font-p2-sans: 'Plus Jakarta Sans', sans-serif;

$font-p3-cursive: 'Greating', cursive;
$font-p3-serif: 'EB Garamond', serif;
$font-p3-sans: 'Open Sans', sans-serif;

$font-p4-cursive: 'Amsterdam Signature', cursive;
$font-p4-serif: 'Playfair Display', serif;
$font-p4-sans: 'Raleway', sans-serif;

$font-p5-cursive: 'Halimunde Signature', cursive;
$font-p5-serif: 'Cinzel', serif;
$font-p5-sans: 'Outfit', sans-serif;